@use "../abstracts/variables"as *;
@use "../abstracts/functions"as *;
@use "../vendors/bootstrap"as *;
@use "../../node_modules/sass-rem/rem"as *;

.header {
  height: rem(500px);

  .navbar {
    padding: 0 {
      top: rem(18px);
      bottom: rem(18px);
    }

    &-toggler {
      i {
        font: {
          size: rem(25px);
        }
      }
    }

    button[aria-expanded="true"] {
      border: rem(1px) solid $dark-turquoise !important;
    }

    &-collapse {
      .nav-link {
        &.active {
          color: $dark-turquoise !important;
        }

        &:hover {
          color: $dark-turquoise;
        }

        @include media-breakpoint-up(lg) {
          padding: 0 rem(21px) !important;
        }
      }

      .form {
        span {
          padding: 0 {
            left: rem(22px);
            right: rem(22px);
          }

          &::before {
            content: "";
            position: absolute;

            background: {
              color: $dark-turquoise;
            }

            width: rem(1px);
            height: rem(25px);
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }

        // .btn {
        //   width: rem(110px);
        //   height: rem(40px);

        //   line: {
        //     height: rem(40px);
        //   }
        // }
      }
    }
  }
}